# Module_07_程式的流程控制-條件判斷 if...else

# 7-3

In [ ]:
x=3; y=7; print('Result:',x+y)

# 7-4

In [ ]:
total = 11+ \
12 + \
13 + \
14
total

In [ ]:
days =['Sun', 'Mon', 'Tue',
       'Wed', 'Thu', 'Fri', 'Sat']
# try {}, ()

# 7-5 comments

In [ ]:
# #真正的備註
# this is python
# hello python
# no any evaluate

In [ ]:
# document String
'''
this is python
hello python
'''
# still evaluate.  It is not a comment.   slow down your program

# 7-7

In [ ]:
if True:
    print('True')
else:
    print('False')

In [ ]:
x = 4
if x == 3:
    print ('x = 3')
else :
    print ('x != 3')

In [ ]:
# 以下區塊會產生錯誤
if True:
    print('Answer')
    print('True')
else:
    print('Answer')
   print('False')

# 7-9

In [ ]:
# %run mod07/ifstmt2.py
# if-else stmt
s = int(input('Input score: '))

if s >= 60:
    print("Pass!")
else:
    print("Not pass!")

In [ ]:
a = 1
if a==1:
    print('a is 1')
print('a is a number')  # 這個 print在 if 之外

# 7-10

In [ ]:
lst = [11, 22]
lst.clear()
print('lst\t\t\t= ', lst)  # empty list
print('False == bool(lst))\t:', False == bool(lst))
print('False == bool(None)\t:', False == bool(None))
print('False == 0\t\t:', False == 0)

In [ ]:
print('False == 0.0\t\t:', False == 0.0)
print('False == bool(())\t:', False == bool(()))  # empty tuple
print('False == bool({})\t:', False == bool({}))  # empty dictionary

In [ ]:
a = ()  # same if a :

if ():  # try [], (), {}, None, False, ''
    print ('True')
else :
    print('None, Flase')

# 7-11

In [ ]:
var1 = 100 
if var1: 
    print('True expr 1 : ', var1) 
print('var1 Finished!')
# -------------------------------    
var2 = 0 
if var2: 
    print('True expr 2 : ', var2) 
    
print('var2 Finished!')

# 7-12 if...else ...

In [ ]:
amt = 2000
if amt < 1000:
    discount = amt * 0.05
    print('Discount', discount)
else:
    discount = amt * 0.10
    print('Discount', discount)

# 7-14 if ... elif...else

In [ ]:
amt = int(input('Enter amount: '))

if amt < 1000:
    discount = amt * 0.05
    print('Discount:', discount)
elif amt < 5000:
    discount = amt * 0.10
    print('Discount:', discount)
elif amt < 10000:
    discount = amt * 0.15
    print('Discount:', discount)
else:
    discount = amt * 0.20
    print('Discount:', discount)

print('Net price:', amt - discount)

# 7-16 nested if...else...

In [ ]:
num = int(input('enter number'))
if num%2 == 0:        # 整除 2
    if num%3 == 0:    # 整除 3
        print('Divisible by 3 and 2')
    else:             # 不整除 3
        print('Divisible by 2, not divisible by 3')
else:                 # 不整除 2
    if num%3 == 0:
        print('Divisible by 3, not divisible by 2')
    else:
        print('Not Divisible by 2, not divisible by 3')

# 7-17 Single Statement Suites

In [ ]:
var = 30
# Only one statement
if var==50: print('Value is 50')
if var==40: print('Value is 40')
print('Finished!')

In [ ]:
a=9
if a%2:     # 9%2 = 1, True
    print('Apple') 
else: 
    print('False')

# practice print.....if   else pr....

# 7-19 三元運算子(ternary operator)

In [ ]:
x = 8
if x == 8:
    y = 7
else:
    y = 9
y

In [ ]:
x = 8
y = 7 if x == 8 else 9
y

In [ ]:
7 if 0 else 'Python'  # x if C else y

In [ ]:
a = 2
#if a%3==0: Result = True
#else: Result = False
Result = 3 if a%3==0 else "Hello"
Result

In [ ]:
%%timeit
x = 5
if x%2 == 0:
    y = 1
else:
    y = 50

In [ ]:
%%timeit
x = 5
if not x%2:
    y = 1
else:
    y = 50

---

# Module_08_程式的流程控制-迴圈 while ,  for... range

## 8-4

In [ ]:
import time

count = 0
while count < 9:
    time.sleep(.4)
    print('count is:', count)
    count += 1
print('Finished!')

In [ ]:
# %run mod08/whilestmt1.py
# while stmt

m = int(input('Input factorial:')) # 階乘
r = n = 1

while n <= m:
    r *= n  # r = r * n
    n += 1
print(str(m) + '! =', r) 
print(f'{m}! = {r}\n')  # f-string

In [ ]:
# for loop
r = n = 1
for n in range(1, m+1):  # iteration #  迭代 : 重複的意思
    r*=n
print(str(m) + '! =', r)

In [8]:
# %run mod08/whilestmt2.py
# while with break stmt
i = 1
while True:
    print(i, end=', ')
    i += 1
    if i > 5:
        break            # stopper
print()
# -------------------------
i = 1
while i<=5 :            # stopper
    print(i, end=', ')
    i += 1

1, 2, 3, 4, 5,
1, 2, 3, 4, 5,

In [ ]:
# 比如說提款機

while True  :         # This constructs an infinite loop
    cash = int(input("輸入提款金額  :"))
    if 0<cash <=30000:
        break
    else:         # 在這裡可加可不加
        print('cont....')
        continue  # 在這裡可加可不加
    
print ("輸入密碼")

In [ ]:
while True:
    user = input('你猜猜，我是 python / java / C++ ?? ')
    if user == 'python':
        break
    print(user, '錯')
print('好棒棒，答對了！')

In [ ]:
for i in range (1,10):
    if  i < 5 :
        print('if i < 5', i)
        continue
        print('after continue')  # 不執行
    print('i =', i)

>><img src=".\img\break.jpg"  style='height:300px; width:550px'>
>><img src=".\img\continue.jpg"  style='height:300px; width:650px'>

In [ ]:
# 年利率5%，則每個月的利率為5%/12=0.4167%
# 1萬元放在銀行，本金加利率總額為 10000*(1+0.05/12)=10041.67元
total=0
i=0
# while loop ...
while (total<1000000):
    total *= (1+0.05/12)
    total += 10000
    i += 1
print(i)

In [ ]:
import time
for var in [1, 2, 3, 4, 5]:
    time.sleep(.3)
    print(var)

# 8-7

In [ ]:
import time
for i in range(1,10):
    for j in range(1,10):
        time.sleep(0.1)
        x = i * j
        print(x, end=' ')
    print()

In [ ]:
import time
for i in range(1,10):
    for j in range(1,10):
        time.sleep(.1)
        print(f'{i:1d}*{j:1d} = {i*j:2d}', end='   ')
    print()

# 8-8 range(start, stop [,step])

In [4]:
# lazy evaluation
range(1,6)  # get ready, not execute
print('range(1,6)\t\t:', range(1,6))
print('list(range(1,8))\t:', list(range(1,8)))
print('list(range(1,8,2))\t:', list(range(1,8,2)))

range(1,6)		: range(1, 6)
list(range(1,8))	: [1, 2, 3, 4, 5, 6, 7]
list(range(1,8,2))	: [1, 3, 5, 7]

https://zh.wikipedia.org/zh-tw/%E6%83%B0%E6%80%A7%E6%B1%82%E5%80%BC

In [ ]:
import time
for i in range(1, 2.5, 0.1):  # not for floating, numpy 可以
    time.sleep(.5)
    print(i)

In [5]:
list(range(1,6))  # execute

[1, 2, 3, 4, 5]

In [6]:
tuple(range(1,6))  # execute

(1, 2, 3, 4, 5)

In [ ]:
set(range(1,6)) # execute

In [ ]:
list(range(1, 15, 2))  # how about range (a,d)

## p8-10, 11, 12, 14
## for ... else

In [3]:
numbers = [31, 57, 75, 85, 27, 93, 63, 19, 22, 44]
for num in numbers:
    if num%2 == 0:
        print('有 偶數存在', num)
        break
else:
    print('無 偶數存在')
print('Finish')

有 偶數存在 22
Finish

In [ ]:
x = ['even' if num%2==0 else 'odd' for num in numbers]
print(x)

y = ['even' for num in numbers if num%2==0]
print(y)

In [ ]:
import time
total = 0 

for i in range(1,6):
    total+=i
    print(f'i = {i}, total = {total}')
    time.sleep(.4)
total

---

# Module_09_串列(List)
# index
><img src=".\img\list.png"  style='height:250px; width:650px'>

In [ ]:
list1=['a', 'b', 'c', 'd']
print(list1)

list2='a b c d'.split()
print(list2)

list('abcd')

# 9-4

In [2]:
names=['fraser', 'grace', 'john', 'jess', 'jack', 23.5, 2019]
print('names\t\t\t\t=', names)
print('names[0]\t\t\t:', names[0])
print('names[0][0]\t\t\t:', names[0][0], '\n')

print('names[5]\t\t\t:', names[5])
print('names[-1]\t\t\t:', names[-1],'\n')

print('names[1:5]\t\t\t:', names[1:5])
print('names[1:6:2]\t\t\t:', (names[1:6:2]),'\n')

names[2]='Kevin'
print("names[2]='Kevin'\t\t:", names)             # 修改

names[-1:]=[2000, 23.5]                           # 一次改兩筆資料
print('names[-1:]=[2000, 23.5]\t\t:', names)

names				= ['fraser', 'grace', 'john', 'jess', 'jack', 23.5, 2019]
names[0]			: fraser
names[0][0]			: f

names[5]			: 23.5
names[-1]			: 2019

names[1:5]			: ['grace', 'john', 'jess', 'jack']
names[1:6:2]			: ['grace', 'jess', 23.5]

names[2]='Kevin'		: ['fraser', 'grace', 'Kevin', 'jess', 'jack', 23.5, 2019]
names[-1:]=[2000, 23.5]		: ['fraser', 'grace', 'Kevin', 'jess', 'jack', 23.5, 2000, 23.5]

In [3]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)  # length
b

['He', 'saw', 'six', 'small', 'foxes']

# 9-6

In [4]:
lst = [33, 'python', [11, 12, 13], 77]
print(len(lst))
print(lst[0])
print(lst[2])
print(lst[2][2])

4
33
[11, 12, 13]
13

# list in list
>![listNested](.\img\listNested.png)

In [5]:
lst1 = [10, 20, 30]
lst2 = [10, 20, 30]
lst3 = [10, 30, 20]
lst1 == lst2

True

In [6]:
lst1 == lst3  #順序需一致

False

In [7]:
print(lst1 is lst2)   # 可能False,  True (機率很低很低) 數值雖然想同, 但記憶體位置可能不同
print(id(lst1), id(lst2))

False
1820286243008 1820286730432

In [8]:
lst1 is lst3

False

# 9-8

In [11]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [10]:
['Hi!'] * 4.

TypeError: can't multiply sequence by non-int of type 'float'

In [9]:
30 in [10, 20, 30]

True

In [12]:
import time

a = [10, 20, 30]
for x in a: 
    time.sleep(.4)
    print (x, end = ' ')

10 20 30

In [13]:
lst=[11, 22, 33, 44]
print('lst\t\t\t=', lst)
print('id(lst)\t\t\t:', id(lst), '\n')

lst[2] = 66
print('lst[2] = 66\t\t:', lst, '\n')

lst[2:]=['aaa','bbb']
print("lst[2:]=['aaa','bbb']\t:",lst,'\n')

lst[2:]=[333, 444, 555,  666]  #list 可增加直接擴大
print('lst[2:] =\t\t:', lst)
print('id(lst)\t\t\t:', id(lst), '\n')

lst			= [11, 22, 33, 44]
id(lst)			: 1820286776512

lst[2] = 66		: [11, 22, 66, 44]

lst[2:]=['aaa','bbb']	: [11, 22, 'aaa', 'bbb']

lst[2:] =		: [11, 22, 333, 444, 555, 666]
id(lst)			: 1820286776512

In [ ]:
lst1= [33, 'python', [11,22,33], (44,55,66)]
print('lst1\t\t:', lst1)
print('lst1[3][0]\t:', lst1[3][0],'\n')
#lst1[3][0] = 88

# 9-11

In [ ]:
x, y, z=20, 10, 30
lst=[x, y, z]

print('lst\t\t\t\t=', lst)
print('max(lst)\t\t\t:', max(lst))
print('min(lst)\t\t\t:', min(lst))
print('sum(lst)\t\t\t:', sum(lst))
print('sorted(lst)\t\t\t:', sorted(lst))
print('sorted(lst, reverse=True)\t:', sorted(lst, reverse=True))

# 9-14, 15, 16

In [14]:
a = [4, 777, 444, 999, 11];   b = ['aa', 'bb', 'cc']

print(f'a = {a},\t b = {b} \n')

a.append('1')                              # 新增
print("a.append('1')\t\t:", a)
print('a+[1]\t\t\t:', a+[1], '\n')

a.extend(b)
print('a.extend(b)\t\t:', a)  # like a+b
print('a.count(4)\t\t:', a.count(4))        # count how many 4 in list
print('a.index(4)\t\t:', a.index(4), '\n')  # what is index of 4

a.insert(5, 555)
print('a.insert(5, 555)\t:', a)

a = [4, 777, 444, 999, 11],	 b = ['aa', 'bb', 'cc']

a.append('1')		: [4, 777, 444, 999, 11, '1']
a+[1]			: [4, 777, 444, 999, 11, '1', 1]

a.extend(b)		: [4, 777, 444, 999, 11, '1', 'aa', 'bb', 'cc']
a.count(4)		: 1
a.index(4)		: 0

a.insert(5, 555)	: [4, 777, 444, 999, 11, 555, '1', 'aa', 'bb', 'cc']

In [15]:
a = [4, 777, 444, 999, 11, 45, 66, 88, 73]

print(f'a = {a}\n')
                                       
print('a.pop()\t\t:', a.pop())                   #彈出值, 並刪除                        
print('a.pop(4)\t:', a.pop(4))                   #用index, 傳回值, 並刪除
print('a.remove(a[2])\t:', a.remove(444))        #用item value 刪除, 回傳空值
print('a \t\t:', a, '\n')

a.reverse()
print('a.reverse()\t:',a)

b = a.copy()
print('b = a.copy()\t:', b)
print('a.clear()\t:', a.clear())

a = [4, 777, 444, 999, 11, 45, 66, 88, 73]

a.pop()		: 73
a.pop(4)	: 11
a.remove(a[2])	: None
a 		: [4, 777, 999, 45, 66, 88]

a.reverse()	: [88, 66, 45, 999, 777, 4]
b = a.copy()	: [88, 66, 45, 999, 777, 4]
a.clear()	: None

---

# Module_10_串列(List)與元組(Tuple)
>### tuple 佔記憶體小, 計算速度快
>![memoryIndex](.\img\memoryIndex03.png)

In [ ]:
t1=(50) # not tuple becasue of no ','
t1
type(t1)

In [ ]:
t2=(50,)
print(t2*4)
type(t2)

In [ ]:
tup2 = 50,    # tup2 = 50, 60, 70
type(tup2)

In [ ]:
t3=tuple(range(0, 10, 2))
print(t3)

t3[1] = 5         # error, immutable
t3.remove(['2'])  # error, not removable, pop

In [ ]:
tup3=('aaa', 'bbb', 'kkk', 'jjj', 'cc1')

print('tup3\t\t\t=', tup3)
print('sorted(tup3)\t\t:', sorted(tup3))  #tuple sorted 傳回的是list[], 需要用參數去接, lst=sorted(t3), t3 is still tuple, no change
print('max(tup3)\t\t:', max(tup3))
print('min(tup3)\t\t:', min(tup3))
print("tup3.count('kkk')\t:", tup3.count('kkk'))
print('tup3+(111, 222)\t\t:', tup3+(111,222))

In [ ]:
tup = 4, 5, 6; tup1 = (4, 5, 6)
print(tup+tup1)
print(tup+tup1+(8,))

In [ ]:
tup = 4, 5, 6; nested_tup = (4, 5, 6), (7, 8)

print(type(tup))
print(nested_tup)
print(tup+nested_tup)

In [ ]:
tup1 = ('aiot', 'python', 23.5, 2019)
tup2 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

print(tup1[0])
print(tup2[1:5])
print(tup2[1:10:2])

In [1]:
tup = tuple([4, 0, 2])
print(tup, '\n')

tup = tuple('string')  # try list ('string')
print(tup)
print(tup[0])

(4, 0, 2)

('s', 't', 'r', 'i', 'n', 'g')
s

# 10-6 改動與否，視最後改動的對象為準

In [ ]:
tup = tuple(['foo', [1, 2], True])

# tup[2] = False
tup[1].append(3)  # list in Tuple OK to change or append inside of list
print(tup)
print(len(tup))
tup[1][0]=20
tup

#### Unpacking tuples

In [ ]:
tup = (4, 5, 6)
a, b, c = tup
b

In [ ]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

In [1]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print(f'a={a}, b={b}, c={c}')

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [ ]:
values = 1, 2, 3, 4, 5
print(type(values))
a, b, *rest = values
a, b, rest
#rest

In [ ]:
a, b, *_ = values
_

# 10-8

In [ ]:
('Hi',)*4

In [ ]:
30 in (10,20,30)

In [ ]:
seq = (1, 2, 3, 4, 5, 6, 7, 8, 9) # iterable object
for i in seq:
    print(i, end=', ')

# 10-10, 12

In [ ]:
nested_tup = (4, 5, 6), (7, 8)  # nested tuple
print(len(nested_tup))

In [ ]:
tup = (1, 2, 3, 4, 5, 6, 5, 4, 3, 2, 1)
print('len(tup)\t\t\t:', len(tup))
print('max(tup)\t\t\t:', max(tup))
print('min(tup)\t\t\t:', min(tup))
print('sum(tup)\t\t\t:', sum(tup))
print('sorted(tup)\t\t\t:', sorted(tup))
print('sorted(tup,reverse = True)\t:', sorted(tup, reverse = True))

In [2]:
t1 = tuple(range(0,10,2)) # lazy evaluation
t2 = tuple([1,2,3,4])
t3 = tuple('abcde')

print(t1)
print(t2)
print(t3)

(0, 2, 4, 6, 8)
(1, 2, 3, 4)
('a', 'b', 'c', 'd', 'e')

In [1]:
a = (1, 2, 2, 2, 3, 4, 2)
print(a.count(2))
print(a.index(2))

4
1

# 10-14 list comprehensions

In [3]:
S = [x**2 for x in range(10)]
V = [2**x for x in range(13)]
M = [x for x in S if x % 2 == 0]
Q = [x**2/2 for x in range(10) ]

print('S = ', S)
print('V = ', V)
print('M = ', M)
print('Q = ', Q)

S =  [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
V =  [1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096]
M =  [0, 4, 16, 36, 64]
Q =  [0.0, 0.5, 2.0, 4.5, 8.0, 12.5, 18.0, 24.5, 32.0, 40.5]

In [16]:
# 九九乘法表 comprehensive 寫法
[[i*j for j in range(1,10)] for i in range(1,10)]

[[1, 2, 3, 4, 5, 6, 7, 8, 9],
 [2, 4, 6, 8, 10, 12, 14, 16, 18],
 [3, 6, 9, 12, 15, 18, 21, 24, 27],
 [4, 8, 12, 16, 20, 24, 28, 32, 36],
 [5, 10, 15, 20, 25, 30, 35, 40, 45],
 [6, 12, 18, 24, 30, 36, 42, 48, 54],
 [7, 14, 21, 28, 35, 42, 49, 56, 63],
 [8, 16, 24, 32, 40, 48, 56, 64, 72],
 [9, 18, 27, 36, 45, 54, 63, 72, 81]]

In [2]:
%%timeit
# V = (1,2,4,8,...2**10)
V=[]
for n in range(11):
    V +=[2**n]
V

14.4 µs ± 827 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [1]:
%%timeit
# V = (1,2,4,8,...2**10)
V=[]
V = [2**n for n in range(11)]
V

12.5 µs ± 1.01 µs per loop (mean ± std. dev. of 7 runs, 100000 loops each)

# 範例

In [ ]:
# 質數
lst=[]
for i in range(2,1000):
    for j in range (2,i):
        if i%j==0:
            break
    else:
        lst=lst+[i]
print(lst)

In [ ]:
# for loop start
#公元年分除以4可整除但公元年分除以100不可整除」或「公元年分除以400可整除」

lst_year=[]  # list
for i in range(1900, 2020):
    if((i%4==0 and  i%100!=0) or (i%400==0)):
        print(id(lst_year), lst_year)        
        lst_year += [i]
print('\n', lst_year, '\n')      

# -------------------------------------------------------

lst_year1 = [i for i in range(1900,2020) if((i%4==0 and i%100!=0) or (i%400==0))]
print(lst_year1)

In [ ]:
# for loop start
#公元年分除以4可整除但公元年分除以100不可整除」#或「公元年分除以400可整除」

lst_year=()  # tuple
for i in range(1900, 2020):
    if((i%4==0 and i%100!=0) or (i%400==0)):
        print(id(lst_year), lst_year)
        lst_year +=(i,)
print('\n', lst_year, '\n')

## tuple 放棄了對元素的增刪（記憶體結構設計上變的更精簡），換取的是效能上的提升：建立 tuple 比 list 要快，儲存空間比 list 佔用更小。所以就出現了“能用 tuple 的地方就不用 list”的說法。

---

# Module_11_字典(Dict)
>## 讓一串資料更有可讀性
>## no sequence, no slice, no index
>## but, iterable (可迭代)

In [ ]:
# 如英漢字典
d1={'Apple':'蘋果', 'Banana':'香蕉'}
print(d1['Apple'])
print(d1['Banana'])

In [ ]:
lst = [2.59, 3.19, 4.8]  # not so meaningful
print(lst[0])
print(lst[1], '\n')

d1={'Eggs':2.59, 'Milk':3.19, 'Cheese':4.8}  # egg, milk... 是不是更具可讀性?
print(d1['Eggs'])
print(d1['Milk'])

><img src=".\img\list-dict.png"  style='height:400px; width:900px'>

# 11-3

In [ ]:
# dict. no sequence, no slice, no index
d1={'name':'John', 'age':30}
d2={'age':30, 'name':'John'}

print(d1==d2)   # check values, no sequence
print(d1 is d2) # memory address diff
print(id(d1))
print(id(d2))
d2['class']  # error 'class' 不存在

# 11-4, 5

In [ ]:
dict1 = dict(one=1, two=2, three=3)
print('dict1\t\t\t:', dict1, '\n')        # 建立

dict1['four']=7                           # 'four'不存在, 就新增
print("dict1['four'] = 7\t:", dict1)      # 新增 

dict1['two'] = 7
print("dict1['two'] = 7\t:", dict1)       # 修改

del dict1['two']                          # 刪除
print("del dict1['two']\t:", dict1)

print("dict1['one']\t\t:", dict1['one'])  # 尋找

# del memory release?
https://www.itread01.com/content/1549518863.html

In [17]:
dict1 = {'one': 1, 'two': 2, 'three': 3, 'four':7}
key = 'four'
if(key in dict1):
    print(f'dict1[{key}] : {dict1[key]}')
else:
    print('No', key)

dict1[four] : 7

# iterable

In [4]:
Families = {'大明':'小明', '大華':'小華', '大雄':'小雄'}
for Parent, Son in Families.items():
    print(f"{Parent} is {Son}'s Dad")

大明 is 小明's Dad
大華 is 小華's Dad
大雄 is 小雄's Dad

# 11-6

In [3]:
dict1 = {'id':'A001', 'eng':[67,53,79]}

print('dict1\t\t\t:', dict1)
print("dict1['eng']\t\t:", dict1['eng'])
print("dict1['eng'][0]\t\t:", dict1['eng'][0], '\n')

dict1['math'] = [64,85,75]
print("dict['math']=[64,85,75]\t:", dict1)
print("dict1['math'][1]\t:", dict1['math'][1])

dict1['math'][1] = 88
print("dict1['math'][1] = 88\t:", dict1)

dict1			: {'id': 'A001', 'eng': [67, 53, 79]}
dict1['eng']		: [67, 53, 79]
dict1['eng'][0]		: 67

dict['math']=[64,85,75]	: {'id': 'A001', 'eng': [67, 53, 79], 'math': [64, 85, 75]}
dict1['math'][1]	: 85
dict1['math'][1] = 88	: {'id': 'A001', 'eng': [67, 53, 79], 'math': [64, 88, 75]}

# 11-7

In [ ]:
dict1 = {'Name': 'III', 'Year': 1979, 'Class': 'A'}

del dict1['Class']
print("del dict1['Class']\t:", dict1)

dict1.clear()                      # empty dict1
print('dict1.clear()\t\t:', dict1)

del dict1                          # del dict1.  dict1 is gone
print('del clear()\t\t:', dict1)   # error since no dict1 any more

# 11-10, 11, 12

In [2]:
a= {'num':85, 'num1': 60, 'age': 44}  # dict

print('a\t\t\t=', a)
print('len(a)\t\t\t:', len(a))
print('max(a)\t\t\t:', max(a))        # key ASCII code max, not so meaningful
print('min(a)\t\t\t:', min(a))
print('sorted(a)\t\t:', sorted(a), '\n')

print("a.get('num')\t\t:", a.get('num'))
print("a['num']\t\t:", a['num'])
print("a.get('num', 'No item')\t:", a.get('num', 'No item'))     # get 'num' 如果 'num'不存在就show 'No item'
print("a.get('name', 'No item'):", a.gett('name', 'No item'))     # 'name'不存在, show 'No item'
print('a.setdefault(num2, 10101):', a.setdefault('num2', 10101)) # num2 不存在, 自動加入 'num2': 10101
a

a			= {'num': 85, 'num1': 60, 'age': 44}
len(a)			: 3
max(a)			: num1
min(a)			: age
sorted(a)		: ['age', 'num', 'num1']

a.get('num')		: 85
a['num']		: 85
a.get('num', 'No item')	: 85
a.get('name', 'No item'): No item
a.setdefault(num2, 10101): 10101

{'num': 85, 'num1': 60, 'age': 44, 'num2': 10101}

In [ ]:
dict([('two', 2), ('one', 1), ('three', 3)]) # list of tuple

In [ ]:
dict((('two', 2), ('one', 1), ('three', 3))) # tuple of tuple

# 11-13

In [18]:
dict1 = {'Stars':'John Doe','Starwars':'Jedi'}

print(dict1.items())
print(list(dict1.items()), '\n')

print(dict1.keys())
print(list(dict1.keys()), '\n')

print(dict1.values())
print(list(dict1.values()))

dict_items([('Stars', 'John Doe'), ('Starwars', 'Jedi')])
[('Stars', 'John Doe'), ('Starwars', 'Jedi')]

dict_keys(['Stars', 'Starwars'])
['Stars', 'Starwars']

dict_values(['John Doe', 'Jedi'])
['John Doe', 'Jedi']

# 11-14

In [19]:
dict1 = {'Stars':'John Doe', 'Starwars':'Jedi'}
a={'name':'77', 'num':'85'}

dict1.update(a)
print('update(a)\t:', dict1)

dict1.pop('name')
print('pop("name")\t:', dict1)

dict1.popitem()  # 保證以LIFO 順序傳回 Last In First Out, 'num':85
print('popitem()\t:', dict1)

update(a)	: {'Stars': 'John Doe', 'Starwars': 'Jedi', 'name': '77', 'num': '85'}
pop("name")	: {'Stars': 'John Doe', 'Starwars': 'Jedi', 'num': '85'}
popitem()	: {'Stars': 'John Doe', 'Starwars': 'Jedi'}

In [ ]:
d1 ={'a': 'apple', 'b':'banana'}
print('d1\t\t=', d1, '\n')

d2 = d1.copy()                           # copy has diff memory address
print('d2 (d1.copy())  :', d2)
print('dict1 is d2\t:', dict1 is d2, '\n')

d3 = d1                                  # point to same address
print('d3 (d3=d1)\t:', d3)
print('d3 is d1\t:', d3 is d1)

In [ ]:
d3['a'] = 'amazon'                     # change d3.  d1 changed too

print('d1 = ', d1)
print('d2 = ', d2)
print('d3 = ', d3)

In [ ]:
# tup1 = (a, 1, b, 2, c, 3)
# lst1 = [a, 1, b, 2, c, 3]
dic1 = {'AAAA':0 , 'BBBB':4, 'CCCC':7}

print('******** for key in dic1 *******')
for key in dic1:
    print(key)
    
print('\n******** for key in dic1.keys() *******')    
for key in dic1.keys():
    print (key)
    
print('\n******** for key in dic1.items() *******')    
for key in dic1.items():
    print (key)
    
print('\n******** for k, v in dic1 *******')    
for k, v in dic1.items():
    print (k, v)

In [ ]:
word = 'letters'
char_counts = {char: word.count(char) for char in set(word)}
char_counts

---

# Module_12_集合(Set)
>## 集合(Set)像移除值(Value)的字典, 留下獨一無二的Key

In [ ]:
a = set()  # 空集合

In [ ]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
basket
#basket[1]    # error no ordered, 唯一

In [ ]:
'orange' in basket

In [ ]:
'grape' in basket

In [ ]:
#len(set("apple"))
#print(set('apple'))
len(set("apple"))

In [ ]:
s1={'66316666'}
s2=set('66316666')
print(s1, '\t\tlength :', len(s1))
print(s2, '\tlength :', len(s2))
print(type(s1))
print(type(s2))

# 12-5

In [ ]:
'this letters is beautiful'.count('e')

In [ ]:
char_counts = {}
word = 'this letters is beautiful'
print(set(word),'\n')  # 取出唯一

for char in set(word):
    char_counts[char] = word.count(char)  # 因為唯一而會向後加(append)
    
char_counts

In [ ]:
word='letters is beautiful'
print(set(word))  # 唯一

char_counts = {x:word.count(x) for x in set(word)}
char_counts

# no sequence, iterable

In [ ]:
for x in {6,5,2,3,7,3} :   
    print (x, end = ' ')

><img src=".\img\set.png"  style='height:450px; width:750px'>

In [ ]:
a = {1, 2, 3};  b = {1, 2, 3, 4}
print(f'a = {a},\t\tb = {b}\n')
print('a | b\t\t\t= ', a | b)                          # 聯集
print('a union b\t\t= ', a.union(b), '\n')             # 聯集

print('a & b\t\t\t= ', a & b)                           # 交集
print('a intersection b\t= ', a.intersection(b), '\n')  # 交集

print('a - b\t\t\t= ', a - b)                           # diff
print('a difference b\t\t= ', a.difference(b), '\n')    # 差集

print('b - a\t\t\t= ', b - a)                           # diff
print('b differnece a\t\t= ', b.difference(a), '\n')    # 差集

print('a ^ b\t\t\t= ', a ^ b)                           # symmetric diff
print('a symmatric_differnece b= ', a.symmetric_difference(b), '\n')  # 對稱差集

print('a <= b\t\t\t= ', a <= b)                         # sub
print('a issubset b\t\t= ', a.issubset(b), '\n')        # sub

print('a >= b\t\t\t= ', a >= b)                         # superset
print('a issuperset b\t\t= ', a.issuperset(b))          # superset

print('a.isdisjoint(b)\t\t= ', a.isdisjoint(b))         # 是沒有交集嗎?
print('b.isdisjoint(a)\t\t= ', b.isdisjoint(a), '\n')

In [ ]:
a = {1,2,3}; b = {3,4,5};
a.update(b);
a

In [ ]:
a = {1,2,3}; b = {3,4,5};
a.intersection_update(b);
a                         #傳回與 b集合的交集

In [ ]:
a = {1,2,3}; b = {3,4,5};
a.add(1)  # how about add(4)
a

In [ ]:
a = {1,2,3}; b = {3,4,5};
a.remove(1);
a

In [ ]:
a = {1,2,3}; b = {3,4,5};
a.remove(4);
a

In [ ]:
a = {1,2,3}; b = {3,4,5};
a.discard(4);
a  # 如果 elem 存在於 s ，則將其移除。此方法不會觸發 KeyError 的例外

In [ ]:
a = {-1, 0, 1, 2, 3}; b = {3,4,5};
a.pop();    # 小心 沒有順序
a

><img src=".\img\list-tuple-dict-set.png"  style='height:300px; width:850px'>

# 12-16

In [ ]:
s = {num for num in range(1, 25) if num % 3 == 1}
s